{% extends 'base.html.twig' %}
{% block title %}Inscription · GoRun
{% endblock %}
{% block body %}
	<h1 class="text-2xl md:text-3xl font-bold mb-6">Créer un compte</h1>

<div class="bg-white rounded-2xl shadow p-6 max-w-lg mx-auto">
	{{ form_start(registrationForm, {'attr': {'class': 'space-y-4'}}) }}

	<div class="block">
		{{ form_label(registrationForm.firstname, null, {
      'label_attr' : {'class': 'block text-sm font-medium text-gray-700 mb-1'}
    }) }}
		{{ form_widget(registrationForm.firstname) }}
		{{ form_errors(registrationForm.firstname) }}
	</div>
	<div clas="block">
		{{ form_label(registrationForm.lastname, null, {
      'label_attr': {'class': 'block text-sm font-medium text-gray-700 mb-1'}
    }) }}
		{{ form_widget(registrationForm.lastname) }}
		{{ form_errors(registrationForm.lastname) }}
	</div>
	<div class="block">
		{{ form_label(registrationForm.email, null, {
      'label_attr': { 'class': 'block text-sm font-medium text-gray-700-mb-1'}
    }) }}
		{{ form_widget(registrationForm.email) }}
		{{ form_errors(registrationForm.email) }}
	</div>
	<div class="block">
		{{ form_label(registrationForm.plainPassword.first, null, {
      'label_attr': {'class': 'block text-sm font-medium text-gray-700 mb-1'}
    }) }}
		{{ form_widget(registrationForm.plainPassword.first) }}
		{{ form_errors(registrationForm.plainPassword.first) }}
	</div>
	<div class="block">
		{{ form_label(registrationForm.plainPassword.second, null, {
      'label_attr': {'class': 'block text-sm font-medium text-gray-700 mb-1'}
    }) }}
		{{ form_widget(registrationForm.plainPassword.second) }}
		{{ form_errors(registrationForm.plainPassword.second) }}
	</div>
	<button type="submit" class="w-full bg-green-600 text-white px-6 py-3 rounded-2xl font-semibold hover:bg-green-700">
		S'inscrire
	</button>

	<p class="text-sm text-gray-600 text-center">
		Déjà un compte ?
		<a href="{{ path('app_login') }}" class="text-green-600 hover:underline">
			Se connecter
		</a>
	</p>
</div>
{% endblock %}
